<html>
  <div class="center">
    <h1>30 Day Playlist Collaboration</h1>
  </div>
  <main>
    <div class="date-grid">
      <button class="test">
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button class="test">
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button class="test">
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button class="test">
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 <p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button class="test">
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
      <button>
        <p> 1 </p>
      </button>
    </div>
  </main>
</html>